body{
    background: url('background.jpg') no-repeat center center fixed;
}
#clock{
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
}
#clk-face{
    display: flex;
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 4px;
    border: 7px solid black;
    border-radius: 50%;
}
.hand{
    height: 4px;
    width: 125px;
    background: black;
    position: absolute;
    transform-origin: 100%;
}
#hr-hand{
    z-index: 2;
}
#min-hand{
    z-index: 3;
}
#sec-hand{
    z-index: 4;
}